Source: salt-formula-stories
Maintainer: Michael Kuty <6du1ro.n@gmail.com>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9), salt-master, python, python-yaml
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-stories
Vcs-Git: https://github.com/tcpcloud/salt-formula-stories.git

Package: salt-formula-stories
Architecture: all
Depends: ${misc:Depends}
Description: stories salt formula
 Install and configure stories system.
